
/** General Style Info **/
html, body {
	background: #003d4c;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	height: 100%;
	width: 100%;
}

.view {
	background-color: white;
	
}



.map {
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	margin-bottom: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	border-radius: 0;
}
.map iframe {
	width: 100%;
	height: 393px;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
a {
	text-decoration: none;
	color: #6A98CA;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

a img {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}


a .btn-lista:hover {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;

}

.btn-index {
	width: 100%;
	padding: 50px;
	display: inline;
}

/** Layout **/
#container {

	text-align: left;
	background: url('../img/bckg.jpg');
	background-position: bottom center;
	background-size: 100% 100%;
	height: auto;
	width: auto;
	min-height: 80%;
}

#header{
	padding: 10px 20px;
	background-color: white;
}

.left {
	float: left;
	padding: 10px;
	text-decoration: none;
	margin-top:10px;
}

.left li {
	list-style: none;
}

#header .left li a {
	margin-left: 10px;
}

#header .left h2 {
	float: left;
	color: #3e5521;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 40px;	
}

#header .left .fino {
	float: left;
	color: #3e5521;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	text-align: center;	
	font-weight: normal;
	
}


#header li a {
	color: green;
	list-style: none;
	float: right;
	
}


.actions {
	display: inline;
	font-size: 22px;
	text-decoration: none;
	background-color: white;
	color: black;
}

.actions a {
	color: black;
	text-decoration: none;
}
.actions li {
	text-decoration: none;
}





a {
	color: #003d4c;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #367889;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
/*
h1 {
	background:#fff;
	color: #003d4c;
	font-size: 30px;
} */
h2 {
	color: black;
	font-size: 32px;
	font-weight: bold;
}

h3 {
	color: #2c6877;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 165%;
}
h4 {
	color: #993;
	font-weight: normal;
}
ul, li {
	margin: 0 12px;
}
p {
	margin: 0 0 1em 0;
}

#content{
	color: #333;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}
#footer a {
	color: #fff;
}


.space {
	height: 25px;
}
.searchbox {
	
	width: 70%;
	background-color: #d3d5d0;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border: 4px solid white;
	margin: 0 auto;
	
	-webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.52);
box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.52);
	}

.right {
	float: right;
	padding: 10px;
	color: #3e5521;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	border: 3px solid #3e5521;
	margin-top:30px;
}

.right li {
	list-style: none;
	color: #3e5521;
}

#header .right li a {
	margin-left: 10px;
	color: #3e5521;
}

.right a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}






.formulario {
		width: 100%;
		height: auto;
		margin: 0 auto;
		margin-top: 100px;
		font-size: 18px;
		text-align: center;	
}


.formularioedit {
		width: 100%;
		height: auto;
		margin: 0 auto;
		margin-top: 100px;
		font-size: 18px;
		text-align: center;	
		background-color: white;

}
.formularioedit label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;

}

.formularioedit form .input {
	width: 60%;
	min-width: 50px;
	display: inline-block;
	border: none;
	
}
.formulario h1 {
	color: white;
	font-weight: 900;
	font-size: 46px;
	text-align: center;
}


thead {
	background-color: #1e62d0;
	font-weight: bold;
	color: white;
}

th {
	background-color: #1e62d0;
	font-weight: bold;
	color: white;
	min-width: 100px;
	}

	
nav ul {
	padding: 15px;
}

nav ul a {
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-left: 40px;
	margin-top: 10px;
	padding: 10px;
}

nav ul a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}




/** Tables **/
table {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:6px;
}


.precio {
	margin-right: 20px;
	width: 50px;
}

.arti {
	font-size: 20px;
	width: 200px;
}
.preciot {
	font-size: 20px;
	width: 150px;
	text-align: center;
	font-weight: 600;
}


th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}

table tr td {
	padding: 6px;
	padding-right: 25px;
	padding-left: 5px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(even) {
	background: #f9f9f9;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}



/** Forms **/
form {
	clear: both;
	padding: 0;
	width: 100%;	
}
fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
fieldset legend {
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	vertical-align: text-top;
}

textarea {
	
}

form .input {
	color: #444;
	width: 100%;
	display:inline;
	border: 5px solid black;
}


form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	margin-top: 60px;
	display: inline;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}

input, textarea {
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2%;
	width: 85%;
	text-align: center;
	margin: 0 auto;
	border: 4px solid #415321;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}

input[type=submit] {
	display: inline;
	font-size: 110%;
	width: 25%;
}

.fa-search {
	background-color: #3e5521;
	color: white;	
}

form .submit input[type=submit] {
	background-color: white;
	/*
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	*/
	border-color: #2d6324;
	color: #425221;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	width: auto;
	font-size: 28px;
	margin-left: 5px;
}

form .submit input[type=submit]:hover {
	background: #5BA150;
}




@font-face {
font-family: "FontAwesome";
src: url('../fonts/fontawesome/fontawesome-webfont.eot');
src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('eot'),
url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
url('../fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'),
url('../fonts/fontawesome/fontawesome-webfont.svg#FontAwesome') format('svg');
font-weight: normal;
font-style: normal;
-webkit-font-smoothing: antialiased;
}


.btn-search{
	margin-left: -6px;
	padding: 2%;
	height: 64px;
	width: 50px;
	background-color: #3e5521;
	border: none;
	
	
}

.btn-search:hover {
	background-color: white;
}

.btn-lista {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 16px;
	color: #3e5521;
	border: 1px solid #3e5521;
	background-color: white;
	min-width: 300px;
	font-size: 34px;
	font-weight: bold;
	
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

.btn-lista:hover{
	background-color: #3e5521;
	color: white;
}



.btn-lista a{
	text-decoration: none;
	color: #3e5521;
}




.flatbtn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #f3faef;
  text-decoration: none;
  background-color: #6bb642;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}
.flatbtn:hover {
  color: #fff;
  background-color: #73c437;
}
.flatbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}



.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }


#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }
 
#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}